@media (min-width:1279px) {

}
@media (max-width:1279px) {

}
@media (max-width:992px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: flex !important;
        font-weight: 600;
        font-size: 3rem;
    }
    .intro-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0;
        margin: 0 0;
        text-align: center;
    }

}
@media (max-width:768px) {

}
@media (max-width:480px) {

}